.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #212121;
  margin-top: 12px;
  max-width: 353px;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity 0.3s ease;
}

.card__like-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 235px;
    line-height: 100%;
  }

  .card__image {
    height: 288px;
  }
}
