.modal {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition:
    visibility 0.5s linear,
    opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  background: url(../images/close\ btn.svg);
  border: none;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 0.8;
}

.modal__title {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  color: rgba(33, 33, 33, 0.7);
  margin: 0 0 32px;
}

.modal__input {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  height: 52px;
  padding-left: 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 40%;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  width: 100%;
  background-color: #212121;
  color: #fcf5e5;
  cursor: pointer;
  border: none;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  .modal__input {
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__submit-btn {
    max-width: none;
    height: 52px;
  }
}
