.page {
  background-color: #fcf5e5;
}

.page__content {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0 auto;
  color: #212121;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
